@media only screen and (min-width: 320px) and (max-width: 1024px) {
	.hero-img-1 {
		position: absolute;
	    width: 186px;
	    bottom: -94px;
	    left: -26px;
	}
	.hero-img-2 {
		position: absolute;
	    width: 180px;
	    left: 20px;
	    bottom: 0;
	    z-index: 1;
	}
	.hero-img-3 {
		position: absolute;
		width: 87px;
		left: 0;
		bottom: 0;
		z-index: 1;
	}
	.hero-img-4 {
		position: absolute;
		width: 30px;
		left: 0;
		bottom: 130px
	}
	.hero-img-5 {
		position: absolute;
		width: 35px;
		left: 218px;
		bottom: 15px;
		z-index: 2;
	}
	.hero-img-6 {
		position: absolute;
		width: 30px;
		left: 100px;
		top: 50px;
	}
	.hero-img-7 {
		position: absolute;
		width: 45px;
		left: 0px;
		bottom: 50px;
	}
	.hero-img-8 {
		position: absolute;
	    width: 47px;
	    left: 0;
	    bottom: 100px;
	}
	.hero-img-9 {
		position: absolute;
		width: 100px;
		left: 290px;
		bottom: 0;
	}
	.hero-img-10 {
		position: absolute;
	    width: 250px;
	    right: -30px;
	    bottom: 0;
	    z-index: 2;
	}
	.hero-img-11 {
		position: absolute;
	    width: 180px;
	    right: 0;
	    bottom: 0;
	    z-index: 1;
	}
	.hero-img-12 {
		position: absolute;
	    width: 35px;
	    right: 70px;
	    top: 180px;
	}
	.hero-img-13 {
		position: absolute;
		width: 100px;
		right: 290px;
		bottom: 0;
	}
	.hero-img-14 {
		position: absolute;
	    width: 90px;
	    right: 0;
	    bottom: 20px;
	    z-index: 30;
	}
	.hero-img-15 {
		position: absolute;
		width: 100px;
		right: 290px;
		bottom: 0;
	}
	.hero__title {
		margin-top: 20px;
	}
	.hero__mob_cost {
		display: block;
	}
	.hero__button {
		bottom: 20px;
		height: 60px;
	}
	.hero__header {
		display: none;
	}
	.hero__mob_cost {
		width: 300px;
	}
	.hero__wrapper {
		background-image: url(../images/background-hero-mob.png);
		background-size: cover;
	    width: 100%;
	    background-position: center;
	    height: 400px;
	}
	.hero__title {
		font-size: 18px;
		line-height: 22px;
		width: 50%;
	}
	.banner {
		overflow-x: hidden;
	}
	.banner__wrapper .main-title {
		width: 65%;
	}
	.banner__img {
		width: 200px;
		top: 20px;
		right: -35px;
	}
	.benefits__wrap1 img {
		width: 154px;
	}
	.main-title {
		font-size: 28px;
		line-height: 32px;
	}
	.container {
		width: 90%;
		margin: 50px auto;
	}
	.main {
		background-size: contain;
	}
	.stage__box, .benefits__container, 
	.stage__border, .video__wrap, .contact__title, 
	.footer__text, .terms-title, .benefits__wrap1  {
		width: 100%;
		margin: 0 auto;
	}
	.hero__title-text {
		width: 299.43px;
	}
	.hero__title-currency {
		width: 125px;
	}
	.steps__wrapper {
		flex-direction: column;
	}
	.steps__dots-desc {
		display: none;
	}
	.steps__dots-mob{
		display: block;
	}
	.benefits__wrap > .title > br {
		display: none;
	}
	.benefits__wrap {
		height: auto;
	}
	.benefits__image {
		width: 80px;
	}
	.banner__buttons {
		margin: inherit;
	}
	.banner__button_wrap {
		width: 264px;
	}
	.contact__title {
		font-size: 34.59px;
		line-height: 41.07px;
	}
	.stage__border, .stage__box, .benefits__container {
		height: auto;
	}
	.stage__box p {
		width: 65%;
	}
	.stage__image {
		bottom: 20px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
	.popup-2__wrapper, .popup-2, 
	.popup-2__border, .popup-2 .container {
		width: 100%;
	}
	.popup-2__wrapper {
		padding: 20px 10px;
	}
	.popup-2__wrap h3 {
		font-size: 16px;
	}
	.popup-2__wrap p {
		font-size: 12px;
	}
	.popup-2__border .main-title {
		font-size: 24px;
	}
	.video-popup-content {
		width: 100%;
	}
	.video-popup-content iframe {
		width: 100%;
	}
}
@media only screen and (min-width: 320px) and (max-width: 420px) {
	.button__banner {
		width: 200px;
	}
}